/* CSS crunched with Crunch - http://crunchapp.net/ */
body {
  background: url('http://subtlepatterns.com/patterns/snow.png');
}
.c-section-head {
  margin-bottom: 30px;
  text-align: center;
}
.c-home-banner,
.c-home-events {
  background: #fefefe;
}
.c-home-topics,
.c-home-groups,
.c-home-register {
  padding: 40px  0;
}
.c-home-banner {
  position: relative;
}
.c-home-banner .c-banner-heading {
  position: absolute;
  top: 40px;
  margin: 0 auto;
  width: 80%;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.6);
}
.c-home-banner .c-banner-heading h1 {
  text-transform: capitalize;
  color: rgba(199, 29, 126, 0.9);
  text-shadow: 0 1px 1px #6f6f6f;
}
.inner-banner,
#banner-wrp {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.c-home-searchbox {
  z-index: 10;
  color: #6f6f6f;
  width: 70%;
  height: 50px;
  margin: -25px auto 0 auto;
  position: relative;
  font-size: 32px;
}
.c-home-searchbox input[type="text"] {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  font-size: 24px;
  padding: 24px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background: #fff8f6;
}
.c-home-searchbox ::-webkit-input-placeholder {
  color: #a2a2a2;
}
.c-home-searchbox :-moz-placeholder {
  color: #a2a2a2;
}
.c-home-searchbox ::-moz-placeholder {
  color: #a2a2a2;
}
.c-home-searchbox::-moz-placeholder {
  color: #a2a2a2;
  opacity: 1;
}
.c-home-searchbox:-ms-input-placeholder {
  color: #a2a2a2;
}
.c-home-searchbox::-webkit-input-placeholder {
  color: #a2a2a2;
}
.c-home-searchbox span {
  margin: 0;
  padding: 0;
}
.c-home-searchbox .c-search {
  background: transparent;
  border: 0;
  height: 100%;
  position: relative;
  margin-left: -60px;
  text-align: center;
}
.c-home-searchbox input[type="text"]:focus,
.c-home-searchbox input[type="text"].focus {
  border-bottom: solid 2px #969696;
}
.c-home-events {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
}
.c-home-events .c-home-events-inner {
  height: 350px;
  padding: 50px 20px;
  margin: -25px auto 0 auto;
  position: relative;
  text-align: center;
}
.c-home-events .c-home-events-inner h2 {
  color: #6f6f6f;
}
.c-home-events .c-home-events-inner .c-event-arrows {
  position: absolute;
  top: 50%;
  margin-top: 30px;
  width: 30px;
  height: 30px;
  background: #efefef;
  border-radius: 50%;
}
.c-home-events .c-home-events-inner .c-event-arrows i {
  line-height: 30px;
}
.c-home-events .c-home-events-inner .arrow-left {
  left: 10px;
}
.c-home-events .c-home-events-inner .arrow-right {
  right: 10px;
}
.c-home-events .swiper-container {
  height: 200px;
  width: 80%;
  overflow: hidden;
  color: #232323;
}
.c-home-events .swiper-slide {
  border-bottom: 1px solid #efefef;
}
.c-home-events .swiper-slide img {
  width: 100%;
  height: 100%;
}
.c-home-events .swiper-slide .slide-content {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #eee;
  box-shadow: 0px 5px 5px -5px #000000;
  width: 265px;
  height: 200px;
  text-align: left;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  opacity: 0;
  transition: left .3s;
  transition: opacity .3s linear .1s;
  z-index: -1;
}
.c-home-events .swiper-slide .slide-content li {
  padding: 0 7px;
}
.c-home-events .swiper-slide .slide-content .c-event-title-link {
  color: #232323;
  text-decoration: none;
}
.c-home-events .swiper-slide .slide-content .c-event-title-link:hover,
.c-home-events .swiper-slide .slide-content .c-event-title-link:focus {
  color: #34a7c1;
}
.c-home-events .swiper-slide .slide-content span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}
.c-home-events .swiper-slide .slide-content a:hover,
.c-home-events .swiper-slide .slide-content a:focus {
  color: #fff8f6;
}
.c-home-events .swiper-slide .slide-content h4,
.c-home-events .swiper-slide .slide-content ul {
  margin: 1em 0;
}
.swiper-slide:hover .slide-content {
  left: 100%;
  opacity: 1;
}
.c-btn.go {
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #b6b03c;
  color: white;
}
.c-btn.go:hover {
  color: white;
  background-color: #a39d27;
}
.c-btn.go h5 {
  margin: 0;
}
.c-home-topics {
  text-align: center;
}
.c-home-topics h2 {
  color: #6f6f6f;
}
.c-topics-viewmore {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background: #C1CA43;
  color: white !important;
  text-shadow: 0 1px 1px #c2c2c2;
}
.c-home-topics-i {
  height: 600px;
  text-align: left;
  border: 1px solid #F7F7F7;
  margin: 10px  auto;
  padding-bottom: 20px ;
  background: #fff8f6 url(http://subtlepatterns.com/patterns/diamond_upholstery.png);
}
.c-home-topics-i .c-topic-head {
  height: 120px;
}
.c-home-topics-i .c-topic-head .c-toggle-expand {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.c-home-topics-i:hover .c-topic-head .c-toggle-expand {
  opacity: 1;
  visibility: visible;
}
.c-home-topics-i .c-topic-body {
  height: 450px;
}
.c-home-topics-i h2 {
  color: #318699;
  margin: 0px 0px 15px -15px;
  font-size: 22px;
}
.c-home-topics-i h2 span {
  height: 50px;
  width: 200px;
  font-size: 1.5em;
  display: inline-block;
  background: #fefefe;
  border-radius: 0 0 25px 0;
  line-height: 50px;
  text-align: center;
}
.c-home-topics-i .c-topic-items .row {
  height: 90px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background: #fefefe;
  border-bottom: 1px solid #efefef;
}
.c-home-topics-i .c-topic-items .row div.col-lg-10 div {
  padding: 0 10px 0 0;
}
.c-home-topics-i .c-topic-items .c-user-thumb {
  height: 65px;
  width: 65px;
  padding: 5px;
  position: relative;
}
.c-home-topics-i .c-topic-items .c-user-thumb img {
  height: 100%;
  width: 100%;
}
.c-home-topics-i .c-topic-items .c-topic-i-title h4 {
  font-family: 'Cardo', serif;
  text-transform: none;
  color: #318699;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-home-topics-i .c-topic-items .c-topic-i-title:hover h4 {
  color: #34a7c1;
}
.c-home-topics-i .c-topic-items .c-topic-i-content p {
  display: block;
  color: #6f6f6f;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-home-topics-i .c-topic-items .c-user-name {
  font-size: 12px;
  color: #6f6f6f;
}
.c-toggle-topic {
  opacity: 0;
}
.c-toggle-topic i {
  font-size: 0.8em;
  color: #6f6f6f;
}
.c-home-groups {
  background: #77c6d8 url('../images/home-connect-bg.png') top center;
}
.c-home-groups .c-section-head h2 {
  color: #fefefe;
}
.c-home-groups .c-group-list {
  margin: 20px 0 0 0;
  padding: 0;
  display: block;
  text-align: center;
  width: 100%;
}
.c-home-groups .c-group-list li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
}
.c-home-groups .c-group-list li .c-group-i {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: url();
  background-repeat: no-repeat;
  border-color: #006e87;
  border-style: solid;
  border-width: 10px;
}
.c-home-groups .c-group-list li .c-group-i h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  padding: 50px 0 0 0;
  height: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.c-home-groups .c-group-list li .c-group-i .c-group-info {
  position: absolute;
  background: transparent;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.c-home-groups .c-group-list li .c-group-i .c-group-info h5 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f4d96e;
}
.c-home-groups .c-group-list li .c-group-i:hover .c-group-info,
.c-home-groups .c-group-list li .c-group-i:focus .c-group-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.c-home-register {
  display: none;
  background: #f0f1ec;
}
.c-home-register h2 {
  color: #6f6f6f;
}
@media (max-width: 1199px) {
  .inner-banner,
  #banner-wrp {
    height: 400px;
  }
}
@media (max-width: 992px) {
  .inner-banner,
  #banner-wrp {
    height: 340px;
  }
}
@media (max-width: 767px) {
  .inner-banner,
  #banner-wrp {
    height: 270px;
  }
  .c-home-searchbox {
    width: 90%;
  }
  .c-home-topics-i .c-topic-items .row .col-xs-3 {
    width: 18%;
  }
  .c-home-topics-i .c-topic-items .row .col-xs-9 {
    width: 82%;
  }
}
@media (max-width: 480px) {
  .c-home-topics,
  .c-home-groups,
  .c-home-register {
    padding: 10px  0;
  }
  .c-section-head {
    margin-bottom: 10px;
  }
  .c-section-head h2 {
    font-size: 20px;
  }
  .c-section-head h3.sans {
    font-size: 18px;
    margin: 0;
  }
  .c-banner-heading h1 {
    font-size: 22px;
  }
  .c-banner-heading h3 {
    font-size: 16px;
  }
  .c-home-search .container {
    padding: 0;
  }
  .c-home-search .c-home-searchbox {
    margin: 1px auto 0 auto;
    font-size: 24px;
  }
  .c-home-search .c-home-searchbox .col-xs-11 {
    width: 100%;
  }
  .c-home-search .c-home-searchbox input[type="text"] {
    font-size: 16px;
    padding: 25.6px 16px;
  }
  .c-home-search .c-home-searchbox .c-search {
    display: none;
  }
  .c-home-events .c-home-events-inner {
    padding: 55px 20px;
    margin-top: -60px;
  }
  .c-home-events .swiper-container {
    height: 160px;
  }
  .c-home-topics-i {
    height: 615px;
  }
  .c-home-topics-i .c-topic-head {
    height: 140px;
  }
  .c-home-topics-i .c-topic-head .c-toggle-topic {
    display: none !important;
  }
  .c-home-topics-i .c-topic-head h2 {
    margin: 0 0 13px -15px;
  }
  .c-home-topics-i .c-topic-head .c-tags {
    height: 69px;
    overflow: hidden;
  }
  .c-home-topics-i .c-topic-body {
    height: 465px;
  }
  .c-home-topics-i .c-topic-items .row {
    height: 65px;
  }
  .c-home-topics-i .c-topic-items .row .col-xs-3 {
    width: 25%;
  }
  .c-home-topics-i .c-topic-items .row .col-xs-9 {
    width: 75%;
  }
  .c-home-topics-i .c-topic-items .c-topic-i-title h4 {
    margin: 5px 0 5px 0;
    font-size: 14px;
  }
  .c-home-topics-i .c-topic-items .c-topic-i-content p,
  .c-home-topics-i .c-topic-items .c-user-name p {
    font-size: 12px;
    margin: 0;
  }
}
