@import "_meme-variables.less";
@import "_meme-mixins.less";
@import "mixins.less";

body {background: url('http://subtlepatterns.com/patterns/snow.png');}
.c-section-head{margin-bottom: 30px; text-align: center; }
.c-home-banner,
.c-home-events{background: @cGrey3;}

.c-home-topics,
.c-home-groups,
.c-home-register{padding: 40px  0; }

// ======================================= banner area
.c-home-banner {position: relative;
    .c-banner-heading {position: absolute;top: 40px;
margin: 0 auto;
width: 80%;padding: 0 30px;
background: @cWrp;
    h1 {
        text-transform: capitalize;
        color: @cMagenta;
        // color: @cYellow;
        text-shadow: @cTextshadow1;
    }
}
}
.inner-banner,
#banner-wrp {
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-position: bottom center;
    background-size: cover;
    .transition(all 1s);
}
// ========================================== search box
.c-home-searchbox {
    z-index: 10;
    color: @cGrey2;
    width: 70%;
    height: 50px;
    margin: -25px auto 0 auto;
    position: relative;
    font-size: 2*@baseFontSize;
    input[type="text"] {
      font-family: 'Open Sans', 'helvetica', sans-serif;
      font-size: 1.5*@baseFontSize;
      padding: 1.5*@baseFontSize;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
      background: @cLight;    
    }
    .placeholder(lighten(@cGrey2, 20%));
    span {margin: 0; padding: 0;}
    .c-search {background: transparent; 
        border: 0; height: 100%; 
        position: relative;
        margin-left: -60px;
        text-align: center;
        }
    
   input[type="text"]:focus,
   input[type="text"].focus {
      border-bottom: solid 2px #969696;
    }

}

// ========================================================= events area

.c-home-events {
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
    .c-home-events-inner{
    height: 350px;
    padding: 50px 20px;
    margin: -25px auto 0 auto;
    position: relative;
    text-align: center;
    h2 {color: @cGrey2;}    
    
    .c-event-arrows{
        	position: absolute;
        	top: 50%;
        	margin-top: 30px;
        	width: 30px;
        	height: 30px;
        	background: #efefef;
        	border-radius: 50%;
        	i {line-height: 30px;}
        }
     .arrow-left{left: 10px;}   
     .arrow-right{right: 10px;}
    }  
    
    .swiper-container{
        	height: 200px;
        	width: 80%;
        	overflow: hidden;
        	color: #232323;	
        }
    
    .swiper-slide {
        border-bottom: 1px solid #efefef;
        img{width: 100%; height: 100%;}
        .slide-content {
            	position: absolute;
            	left: 0;
            	top: 0;
            	background: rgba(255,255,255, .9);
            	border:1px solid #eee;
            	box-shadow: 0px 5px 5px -5px #000;
            	width: 265px;
            	height: 200px;
            	text-align: left;
            	padding: 2px 5px;
            	font-size: 14px;
            	border-radius:  0 5px 5px 0;
            	opacity: 0;
            	transition: left .3s;
            	transition: opacity .3s linear .1s;
            	z-index: -1;
            	li {padding: 0 7px;}
            	.c-event-title-link{
            	    color: @cGrey1;
            	    text-decoration: none;
            	    &:hover,
            	    &:focus { color: @cGreen}
            	    }
            	
            	span {display: inline-block; width: 20px; 
            	        height: 20px; text-align: center; 
            	        line-height: 20px; margin-right: 10px;
            	        }
            	a:hover,
            	a:focus{ color: @cLight;}
            	
            	h4,
                ul {margin: 1em 0; }
            }            
        }
       
}
.swiper-slide:hover .slide-content {left: 100%; opacity: 1;}

.c-btn.go {
 	width: 80%;
	margin: 0 auto;
	border-radius: 2px;
	background-color: rgb(182, 176, 60);
	color: white;
}
 .c-btn.go:hover{ color: white; background-color: rgb(163, 157, 39);}
 .c-btn.go h5 {margin: 0;} 


// ========================================================= topics area
.c-home-topics {
    text-align: center;
    h2 {color: @cGrey2;}
    // background: url('http://subtlepatterns.com/patterns/polonez_car.png');
}

.c-topics-viewmore {
    .border-radius(5px);
    border-bottom: 2px solid @cWrp;
    background: #C1CA43;
    color: white !important;
    text-shadow:@cTextshadow2;
    }
.c-home-topics-i{
    height: 590px;
    text-align: left;
    border: 1px solid #F7F7F7;
    margin: 10px  auto;
    padding-bottom: 10px ;
    background: @cLight url(http://subtlepatterns.com/patterns/diamond_upholstery.png);
    
    .c-topic-head {height: 120px;
    .c-toggle-topic{display: none !important; }}
    .c-topic-body {height: 450px;}
    
    h2 {color: @cDarkGreen;
    margin: 0px 0px 15px -15px;
    font-size: 22px;
        span {
            height: 50px;
            width: 200px;
            font-size: 1.5em;
            display: inline-block;
            background: @cGrey3;
            border-radius: 0 0 25px 0;
            line-height: 50px;
            text-align: center;
            }
        }
    
    .c-topic-items{
        .row { 
            height: 90px; overflow: hidden;
            border-bottom: 1px solid @cWrp; background: @cGrey3;border-bottom: @hr;
            div.col-lg-10 div {padding: 0 10px 0 0;}
        }
        .c-user-thumb {height: 65px; width: 65px; padding: 5px;position: relative;
            img {height: 100%; width: 100%; }
            }
        .c-topic-i-title {
             h4 {font-family: 'Cardo', serif; text-transform: none; 
             color: @cGreen2 ;
             font-size: 14px; font-weight: bold;line-height: 17px;
             display: block;
             width: 100%;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             }
            &:hover { h4{color: @cGreen;} }
            }
        .c-topic-i-content p{ display: block; color: @cGrey2;
            font-size: 14px;width: 100%; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}   
        .c-user-name {font-size: 12px; color: @cGrey2;}
        }
}

.c-toggle-topic {opacity: 0;
    i{ font-size: 0.8em; color: @cGrey2;  }
}

// ========================================================= groups area
.c-home-groups {
    background: #77c6d8 url('http://cdn.smithandkeller.com/wp-content/themes/smithandkeller/images/men-connect-transparent.png') top center;
    
    .c-section-head h2{color: @cGrey3;}    
    .c-group-list {
        margin: 20px 0 0 0;
        padding: 0;
        display: block;
        text-align: center;
        width: 100%;
        li {
            width: 200px;
            height: 200px;
            display: inline-block;
            margin: 20px;
            .c-group-i {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                position: relative;
                cursor: default;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                
                
                background-image: url();
                background-repeat: no-repeat;
                border-color: #006e87;
                border-style: solid;
                border-width: 10px;
                
                h3{
                    color: #fff;
                    // text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 30px;
                    font-weight: bold;
                    padding: 50px 0 0 0;
                    height: 0px;
                    font-family: 'Open Sans', Arial, sans-serif;
                    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
                    }
                
                .c-group-info {
                    position: absolute;
                    background: transparent;
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -o-transition: all 0.4s ease-in-out;
                    -ms-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    -webkit-transform: scale(0);
                    -moz-transform: scale(0);
                    -o-transform: scale(0);
                    -ms-transform: scale(0);
                    transform: scale(0);
                    -webkit-backface-visibility: hidden;     
                    h5 {padding-top: 20px; font-size: 20px; font-weight: bold;color: @cYellow;}
                    }
                    &:hover .c-group-info,
                    &:focus .c-group-info{
                        	-webkit-transform: scale(1);
                        	-moz-transform: scale(1);
                        	-o-transform: scale(1);
                        	-ms-transform: scale(1);
                        	transform: scale(1);
                        	opacity: 1;
                        }
                
                }
            }
        }
    
}


// ========================================================= register area

.c-home-register{
    background: #f0f1ec;
    height: 400px;
    h2 {color: @cGrey2;}  
    }

// ========================================================= partners area

// ========================================================================= responsive 
@media (max-width: 1199px ){
    .inner-banner, #banner-wrp {height: 400px;}
    }
@media (max-width: 992px){
    .inner-banner, #banner-wrp {height: 340px;}
}

@media (max-width: 767px){
    .inner-banner,#banner-wrp {height: 270px;}
    
    .c-home-searchbox {
        width: 90%;
        }
    .c-home-topics-i{  
        .c-topic-items {
            .row {
                .col-xs-3 {width: 18%;}
                .col-xs-9 {width: 82%;}
            }   
        }  
    }
}

@media (max-width: 480px) {
    .c-home-topics,
    .c-home-groups,
    .c-home-register{padding: 10px  0; }
    .c-section-head { 
        h2{font-size: 20px;} h3.sans{font-size: 18px;margin: 0;} margin-bottom: 10px;}
    
    .c-banner-heading {
        h1 {font-size: 22px;}
        h3 {font-size: 16px;}
        }
    
    .c-home-search{
        .container {padding: 0;}
        .c-home-searchbox {
            // height: 30px;
            margin: 1px auto 0 auto;
            font-size: 24px;
            .col-xs-11{width: 100%;}
            input[type="text"] {
              font-size: @baseFontSize;
              padding: 1.6*@baseFontSize @baseFontSize; 
            }
            .c-search {display: none};
        }
    }
    .c-home-events .c-home-events-inner {padding: 55px 20px; margin-top: -60px;}
    .c-home-events .swiper-container {height: 160px;}
    
    .c-home-topics-i{
        height: 605px;
        .c-topic-head {height: 140px; 
            .c-toggle-topic{display: none !important; }
             h2 {margin: 0 0 13px -15px;}
            .c-tags {height: 69px; overflow: hidden;}
            }   
        .c-topic-body{height: 465px;}
        .c-topic-items {
            .row {height: 65px;
                .col-xs-3 {width: 25%;}
                .col-xs-9 {width: 75%;}
            }
            .c-topic-i-title {h4 {margin: 5px 0 5px 0; font-size: 14px;}}
            .c-topic-i-content,
            .c-user-name{p {font-size: 12px;margin: 0;}}
            }
        
        }
   
}

@media (max-width: 320px) {
 .c-home-topics-i{  
        .c-topic-items {
            .row {
                
            }   
        }  
    }
}